body {
	margin: 0;
	background: #222222;
	font-family: 'Red Hat Mono', 'monospace';
	color: #0000cc;
	text-align: center;
	padding: 10 0 10 0;
}

#title {
	background: #1a1a1a;
	position: fixed;
	top: 0;
	height: 75px;
	width: 100%;
	float: top;
}

#content {
	margin-top: 100px;
	height: 100vh;
}

body a {
	text-decoration: none;
	color: #0000aa;
}